<app-menu></app-menu>

<div class="main">
  <div *ngIf="competitionTypes.poule">
    <div class="rounds" *ngFor="let poule of poules">
      <div class="wrapper">
        <h2>{{poule.name}}</h2>
        <table>
          <tr>
            <th>Speler 1</th>
            <th>vs</th>
            <th>Speler 2</th>
            <th>Speeldatum & tijd</th>
            <th>Score</th>
          </tr>
          <tr *ngFor="let match of poule.matches">
            <td>{{ match.player1.name}}</td>
            <td>vs</td>
            <td>{{ match.player2.name}}</td>
            <td>{{ match.dateTime }}</td>
            <td>{{ match.score }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="competitionTypes.toernooi">
    <div *ngFor="let round of rounds">
      <div class="wrapper">
        <h2>{{round.name}}</h2>
        <table>
          <tr>
            <th>Speler 1</th>
            <th>vs</th>
            <th>Speler 2</th>
            <th>Speeldatum & tijd</th>
            <th>Score</th>
          </tr>
          <tr *ngFor="let match of round.matches">
            <td>{{ match.player1.name}}</td>
            <td>vs</td>
            <td>{{ match.player2.name}}</td>
            <td>{{ match.dateTime }}</td>
            <td>{{ match.score }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="competitionTypes.ko">
    <div *ngFor="let round of rounds">
      <div class="wrapper">
        <h2>{{round.name}}</h2>
        <table>
          <tr>
            <th>Speler 1</th>
            <th>vs</th>
            <th>Speler 2</th>
            <th>Speeldatum & tijd</th>
            <th>Speler 1 Score</th>
            <th>Speler 2 Score</th>
          </tr>
          <tr *ngFor="let match of round.matches">
            <td>{{ match.player1.name}}</td>
            <td>vs</td>
            <td>{{ match.player2.name}}</td>
            <td>{{ match.dateTime }}</td>
            <td>{{ match.player1.scorePlayer1 }}</td>
            <td>{{ match.player2.scorePlayer2 }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
